body{
	background-color: #B5B5B5;
	font-family: 'Lato', 'Arial', sans-serif;
	padding: 0px;
	margin: 0px;
}

nav{
	background-color: #000;
	color: #fff;
	padding: 20px;
	text-align: center;
	color: #f0f0f0;
	font-size: 0.8em;
}

nav span{
	padding: 0px 10px 0px 10px;
}

#wrapper{
	background-color: #fff;
}

h1{
	text-align: center;
	padding-top: 5%;
}

#contact{
	text-align: center;
	padding-bottom: 30px;
}

section{
	margin-left: 10%;
	margin-right: 10%;
}

h5 span{
	padding: 10px;
}

h5 span a:link{
	text-decoration: none;
	color: #000;
};

h5 span a:visited{
	text-decoration: none;
	color: #000;
};

h5 span a:hover{
	text-decoration: none;
	color: #000;
};

h5 span a:active{
	text-decoration: none;
	color: #000;
};

h4{
	padding: 0px;
	margin: 20px 0px 10px 20px;
}

h5{
	padding-left: 50px;
	margin: 0px;
	font-weight: lighter;
}

#education{
	width: 50%;
	padding-top: 20px;
}


#objective{
	float: right;
	width: 40%;
	padding-top: 20px;
}

#projects{
	float: right;
	width: 40%;
}

#skill{
	width: 40%;
}

#involvement{
	padding-bottom: 40px;
}

.bolder{
	font-weight: bolder;
}

.italic{
	font-style: italic;
	padding-left: 70px; !important
}

footer{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 50px;
}

h5 a:link{color: #000; text-decoration: none;}
h5 a:visited{color: #000;}
h5 a:hover{color:#000;}
h5 a:active{color:#000;}


nav a:link{color: #fff; text-decoration: none;}
nav a:visited{color: #fff;}
nav a:hover{color:#fff;}
nav a:active{color:#fff;}
